/******************** Universal Styles ********************/

body, div, h1, h2, p {
  font-family: 'Libre Franklin',sans-serif;
  cursor: auto;
/* color: #333; */
}
h2, h3 {
  font-weight: 600;
}

/******************** Icon Styles ********************/

.icon {
display: inline-block;
width: 30px;
height: 30px;
}


/******************** Video Section ********************/

.video-section {
position: relative;
width: calc(100%);
height: calc(100vw * 0.5625);
max-height: calc(100vh - 200px);

margin-top: 140px;
}
.video-spacer {
position: relative;
width: 100%;
height: calc(100vw * 0.5625);
max-height: calc(100vh - 200px);
z-index: 6;
background-color: rgba(0,0,0,0.5);
}
.video-wrapper {
position: absolute;
top: 0;
width: calc(100%);
height: calc(100vw * 0.5625);
max-height: calc(100vh - 200px);
overflow: hidden;
z-index: 5;
background-color: #000;
}
.video-source {
object-fit: cover;
width: 100%;
height: 100%;
}
.video-button-overlay {
z-index: 10;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.video-overlay {
position: absolute;
z-index: 10;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
width: 100%;
height: calc(100vw * 0.5625);
max-height: calc(100vh - 200px);
top: 0px;
}
.video-overlay h2,
.video-overlay h3,
.video-bottom-bar h2,
.video-bottom-bar h3,
.video-button-overlay p {
color: #fff;
font-size: 24px;
text-align: center;
line-height: 1.5em;
text-shadow: 0px 1px 3px #444;
font-family: 'Libre Franklin',sans-serif;
}
.video-bottom-bar h2,
.video-overlay h2 {
font-size: 44px;
line-height: 1.5em;
font-weight: 600;
font-family: 'Libre Franklin';
}
.video-bottom-bar h3,
.video-overlay h3 {
font-size: 28px;
line-height: 1.5em;
}
.video-button {
margin: 0 0 0 0;
animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.video-button .icon {
fill: rgba(255,255,255,0.4);
height: 80px;
width: 80px;
}
.video-button a:hover .icon {
fill: rgba(255,255,255,1.0);
}
.video-bottom-bar {
display: none;
}
.workshop-button {
margin-top: 20px;
}
.workshop-button button {
display: flex;
align-items: center;
justify-content: center;
padding: 0 60px;
background-color: #f07c00;
color: #fff;
height: 60px;
border-radius: 5px;
text-align: center;
font-size: 20px;
text-transform: uppercase;
font-weight: 600;
margin: 0 auto;
}
.workshop-button button:hover {
background-color: #f05a00;
}
.top-section-spacer {
display: none;
}

/******************** Webinar Section ********************/

.webinar-section {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: center;
padding: 0;
background-color: #008dc3;
color: #ccc;
}
.webinar-panel1 {
display: flex;
align-items: center;
justify-content: center;
padding-left: 50px;
}
.webinar-panel2 {
background-image: linear-gradient(0deg, #537895 0%, #09203f 100%);
font-size: 0;
line-height: 0;
}
.webinar-panel3 {
background-image: linear-gradient(0deg, #537895 0%, #09203f 100%);
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
padding: 0 50px;
}
.webinar-title {
font-size: 44px;
line-height: 1.1em;
text-align: left;
color: #2CC1EA;
font-weight: 600;
font-family: 'Libre Franklin';
}
.webinar-copy {
font-size: 22px;
line-height: 1.5em;
margin-top: 10px;
text-align: left;
color: #ccc;
}
.webinar-button {
margin-top: 20px;
}
.webinar-button button {
display: flex;
align-items: center;
justify-content: center;
padding: 0 60px;
background-color: #008dc3;
color: #fff;
height: 60px;
border-radius: 5px;
text-align: center;
font-size: 20px;
text-transform: uppercase;
font-weight: 600;
}
.webinar-button button:hover {
background-color: #f05a00;
}
.gfx-free-webinar {
width: 300px;
height: 300px;
fill: #fff;
}
.gfx-triangle {
width: 100px;
height: 500px;
fill: #008dc3;
}

/******************** Main Copy Section ********************/

.main-copy-section {
background-color: #fff;
padding: 40px 40px;
}
.logo-header {
line-height: 1.5;
text-align: center;
font-size: 20px;
color: #888;
padding-top: 30px;
border-bottom: 2px solid #ddd;
max-width: 1200px;
margin: auto;
}
.logo-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.company-logo {
padding: 20px 40px;
max-width: 250px;
}
.copy-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
max-width: 1200px;
margin: auto;
}
.paragraph-1,
.paragraph-2 {
text-align: left;
padding: 20px 20px;
}
.gfx-triangle {
width: 50px;
}


/******************** Mentors Section ********************/

.mentor-section {
background-color: #091215;
}
.mentor-section-title {
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
padding: 70px 0 0 0;
color: #2CC1EA;
text-align: center;
text-transform: uppercase;
font-weight: 600;
}
.mentor-bios {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.mentor-container {
position: relative;
min-width: 240px;
width: 20%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top: 20px;
}
.mentor-photo,
.mentor-photo2 {
position: relative;
object-fit: cover;
z-index: 0;
overflow: hidden;
width: 200px;
height: 200px;
}
.mentor-inner-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.mentor-copy {
padding: 20px;
max-width: 500px;
background-color: rgba(9, 18, 21, 0.85);
}
.mentor-text {
color: #ccc;
font-size: 17px;
padding-top: 20px;
}
.mentor-name {
z-index: 5;
height: 40px;
/* width: 100%; */
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
margin: 5px 40px;
border-radius: 5px;
}
.thick-rule {
width: 100%;
height: 40px;
background-color: #091215;
}
.mentor-line-bg {
width: 100%;
background-color: #091215;
padding: 10px 50px 10px 50px;
}
.mentor-underline {
width: 100%;
height: 1px;
background: linear-gradient(90deg, #ffc600 0%, #f07c00 25%, #ed1c24 50%, #92278f 75%, #ec008c 100%);
}
.mentor-container a:hover .mentor-name {
background-color: #ec008c;
}
.mentor-footer {
width: 50%;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
padding-top: 20px;
}
.social:before {
content: '';
display: inline-block;
height: 26px;
background: url("../images/sprites/socials2.png");
background-image: url("../images/sprites/socials3.svg"), none;
background-size: 149px 54px;
}
.s-fb:before {
width: 13px;
background-position: 0 0;
}
.s-fb:hover:before {
background-position: 0 -28px;
}
.s-tw:before {
width: 30px;
background-position: -15px 0;
}
.s-tw:hover:before {
background-position: -15px -28px;
}
.s-ig:before {
width: 27px;
background-position: -89px 0;
}
.s-ig:hover:before {
background-position: -89px -28px;
}


/******************** Products Section ********************/

.products-section {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: center;
padding: 40px 20px;
background-color: #f8f8f8;
background: linear-gradient(180deg, #4d9fbc 0%, #d7e5ea 100%);
}
.product-container {
padding: 40px 40px;
width: 33.3333%;
border: 1px solid #ccc;
margin: 20px;
border-radius: 10px;
background-color: #fff;
}
.product-photo {
display: flex;
align-items: center;
justify-content: center;
}
.product-photo img {
width: 300px;
height: auto;
}
.product-name {
display: flex;
align-items: center;
justify-content: center;
padding: 20px 0;
text-align: center;
font-size: 24px;
font-weight: 600;
}
.product-copy {
display: flex;
align-items: center;
justify-content: center;
text-align: left;
}
.product-button {
display: flex;
align-items: center;
justify-content: center;
margin-top: 30px;
text-align: center;
}
.product-button a {
display: flex;
align-items: center;
justify-content: center;
padding: 0 30px;
background-color: #fff;
color: #0073A2;
height: 50px;
border-radius: 5px;
border: 1px solid #0073A2;
line-height: 1.1em;
text-transform: uppercase;
font-weight: 600;
}
.product-button a:hover {
color: #ffffff;
background-color: #0073A2;
}

/******************** Testimonials Section ********************/

.testimonials-section {
padding: 100px 100px;
position: relative;
background-color: #00567a;
/* display: flex;
align-items: center;
justify-content: center; */
/* width: 90%;
margin: auto; */
}
.home-container {
  max-width: 1200px;
  width: 100%;
}
.slider-left-arrow,
.slider-right-arrow {
cursor: pointer;
fill: #5398b5;
}
.slider-left-arrow:hover,
.slider-right-arrow:hover {
fill: #ffffff;
}
.slider-left-arrow {
margin-left: -60px;
}
.slider-right-arrow {
margin-right: -60px;
}
.gfx-arrow-left,
.gfx-arrow-right {
width: 40px;
height: 70px;
}
.arrow-navigation {
display: flex;
align-items: center;
justify-content: space-between;
position: absolute;
top: calc(50% - 35px);
width: calc(100% - 200px);
}
.testimonial-container {
display: flex;
align-items: flex-start;
justify-content: center;
}
.testimonial-inner-container {
display: flex;
align-items: flex-start;
justify-content: center;
}
.testimonial-panel1 {
width: calc(49.5% + 50px);
display: inline-flex;
flex-direction: row;
align-items: flex-start;
}
.testimonial-panel2 {
width: calc(49.5% - 50px);
display: inline-flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
padding-left: 30px;
}
.testimonial-gfx-quote {
fill: #ff8a00;
}
.testimonial-text-large {
font-weight: 600;
font-size: 36px;
line-height: 1.2em;
padding-left: 30px;
color: #ffffff;
}
.testimonial-text-small,
.testimonial-location {
font-size: 20px;
font-weight: 400;
color: #ffffff;
}
.testimonial-name {
margin-top: 20px;
}
.testimonial-name img {
width: 50%;
height: 50%;
}
.testimonial-location {
font-size: 15px;
}
.gfx-quote {
width: 50px;
height: 50px;
}
.testimonials-slider .testimonial-container {
display: flex;
flex-direction: row;
}


/******************** News Section ********************/

.news-section {
padding: 60px 20px;
background-color: #f4faff;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
}
.news-logo {
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0 0 30px 20px;
}
.news-container {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
}
.gfx-wt-news {
width: 360px;
height: 75px;
}
.main-story,
.additional-stories {
width: 50%;
padding: 0 20px;
}
.main-story .story-title {
font-family: 'Bitter', 'Times', serif;
font-size: 32px;
font-weight: 400;
color: #00567a;
}
.additional-stories .story-title {
font-family: 'Bitter', 'Times', serif;
font-size: 22px;
font-weight: 400;
color: #00567a;
}
.story-title:hover {
color: #ec008c;
}
.story-date {
font-size: 14px;
color: #666666;
padding-bottom: 15px;
}
.main-story p {
padding-bottom: 10px;
}
.main-story p a {
color: #0073A2;
}
.main-story p a:hover {
color: #00b5ff;
}

/******************** Mobile Styles ********************/

@media screen and (min-width: 768px) and (max-width: 1200px) {
body {
  cursor: pointer;
}
.video-overlay h2 {
  font-size: 26px;
  line-height: 1.3em;
}
.video-overlay h3 {
  font-size: 18px;
  line-height: 1.3em;
}
.video-button-overlay p {
  font-size: 20px;
}
.webinar-title {
  font-size: 32px;
}
.webinar-copy {
  font-size: 20px;
}
.webinar-panel3 {
  padding: 0 20px;
}
.video-bottom-bar h2 {
  font-size: 32px;
  line-height: 1.2;
}
.video-bottom-bar h3 {
  font-size: 20px;
  line-height: 1.3;
  padding-top: 10px;
}
}

@media screen and (max-width: 767px) {
body {
  cursor: pointer;
}
.video-section {
  height: 100%;
}
.video-spacer,
.video-overlay,
.video-wrapper {
  height: calc(100vw - 15px);
}
.video-overlay .top-section {
  display: none;
}
.video-bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 20px 20px;
  background-color: #091215;
  color: #ccc;
}
.bottom-section h3,
.video-bottom-bar h2,
.video-bottom-bar h3,
.video-overlay p {
  color: #ccc;
  font-size: 17px;
  width: 100%;
  line-height: 1.5em;
  text-shadow: none;
}
.video-bottom-bar h2 {
  font-size: 24px;
  line-height: 1.3em;
}
.video-bottom-bar h3 {
  font-size: 17px;
  line-height: 1.3em;
  padding-top: 15px;
}
.video-button {
  margin: 0 0 10px 0;
}
.video-button .icon {
  fill: rgba(255,255,255,1.0);
  height: 60px;
  width: 60px;
}
.video-button-overlay p {
  font-size: 20px;
}
.top-section-spacer {
  display: block;
}
.workshop-button button,
.webinar-button button {
  padding: 0 30px;
  height: 50px;
  font-size: 18px;
}
.webinar-section {
  padding: 0px;
  flex-direction: column;
}
.webinar-panel1 {
  padding: 0;
}
.webinar-panel2 {
  display: none;
}
.webinar-panel3 {
  padding: 40px 20px;
}
.webinar-title {
  font-size: 32px;
  line-height: 1.1em;
}
.webinar-copy {
  font-size: 20px;
  line-height: 1.1em;
  margin-top: 30px;
}
.gfx-free-webinar {
  height: 150px;
}
.mentor-line-bg {
  padding: 10px 20px 10px 20px;
}
.mentor-photo {
  width: 120px;
  height: 120px;
}
.mentor-container {
  width: 40%;
  min-width: 150px;
}
.mentor-name {
  margin: 5px 20px;
}
.products-section {
  flex-direction: column;
  padding: 40px 0;
}
.product-container {
  padding: 40px 20px;
  width: calc(100% - 40px);
}
.product-copy {
  font-size: 17px;
  line-height: 1.3em;
}
.testimonials-section {
  padding: 50px;
}
.testimonials-slider .testimonial-container {
  flex-direction: column;
  align-items: center;
}
.testimonial-inner-container {
  flex-direction: column;
}
.testimonial-gfx-quote {
  display: none;
}
.testimonial-panel1,
.testimonial-panel2 {
  width: 100%;
  padding: 0;
  margin: 0;
}
.testimonial-panel2 {
  padding-top: 20px;
}
.testimonial-text-large {
  font-size: 20px;
  padding: 0;
}
.testimonial-text-small {
  font-size: 17px;
}
.arrow-navigation {
  width: calc(100% - 100px);
}
.slider-left-arrow {
  margin-left: -35px;
}
.slider-right-arrow {
  margin-right: -35px;
}
.gfx-arrow-left,
.gfx-arrow-right {
  width: 20px;
  height: 35px;
}
.news-container {
  flex-direction: column;
}
.main-story,
.additional-stories {
  width: 100%;
  padding: 0;
}
.additional-stories {
  padding-top: 20px;
}
.gfx-wt-news {
  width: 100%;
}
.news-logo {
  padding-left: 0;
}
.main-copy-section {
  padding: 40px 20px;
}
.logo-header {
  font-size: 14px;
}
.copy-container {
  flex-direction: column;
}
.paragraph-1,
.paragraph-2 {
  padding: 10px 0;
}

}
